<style>
  header.about-show-bg{
    background: url('/assets/blogs-bg/bg1.jpg');
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white;
    height: auto;
    padding: 100px 0;
  }
</style>
<header class="about-show-bg">
  <div class="container">
    <div class="intro-text" style="padding: 100px 0px">
      <h1 class="text-center">About John C. McLemore</h1>
    </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row content-space content-space-bottom">
    <div class="col-md-7">
      <p> <span style="font-weight: bold; font-size: 30px;">John McLemore</span> represents both debtors and creditors and is best known for his work as a

  bankruptcy trustee. He is admitted to practice in federal and state courts in Tennessee, as well as

  the U.S. Sixth Circuit Court of Appeals. He has twice been

  called on to serve as Receiver in U.S. District Court actions brought by the Federal Trade

  Commission.</p>
      <p>
        John has built a financial investigation team called on to unravel some of Middle Tennessee’s most

  complicated Ponzi schemes and financial frauds. His analysis of the B. Don James &amp; Sons loan

  scam in Smithville furnished victims’ counsel with the evidence necessary to win an $8 million

  judgment. He served as Trustee in the Ponzi scheme case of third party administrator

  1Point Solutions from which millions of dollars of 401(k) and healthcare plan funds disappeared

  through unauthorized transactions. He has been appointed by Chancery Courts to unscramble a

  defalcation at a grain elevator in one case and to determine why a title insurance agency had a $2

  million escrow shortage in another.
      </p>
    </div>

    <div class="col-md-4 col-md-offset-1">
      <img src="assets/john-about.jpg" alt="John C. McLemore" class="about-img2">
      <p style="font-size: 15px;">John C. McLemore is well-known among the Nashville law community as the go-to photographer
      for the Nashville Bar Association and other law-related events. It is not surprising to find John at a Nashville Bar
      Association event with his Nikon in tow, documenting the people, places, and events that comprise Nashville's local history
      as it pertains to law. You can find the NBA’s gallery of photos at 
      <a target="_blank" href="http://www.nashvillebar.smugmug.com">nashvillebar.smugmug.com</a>, where thousands of attorney
      photos can be searched alphabetically. John took most of them. In addition, he took the photographs on this website.
       </p>
    </div>
  </div>
</div>
