<style>
  header.blog-show-bg{
    background: url('/assets/blue-sky-mtn.jpg');
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white;
    height: auto;
    padding: 100px 0;
  }
</style>

<header class="blog-show-bg">
  <div class="container">
    <div class="intro-text">
      <h1>What We Fight For</h1>
    </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row content-space content-space-bottom">
    <div class="col-md-12">
      <h1>Chapter 7 Bankruptcy Specialist in Nashville</h1>
      <p>For more than three decades, we have helped clients develop their bankruptcy strategy, recover

      funds, and pilot the uncertainty of insolvency. Our depth of business and financial expertise qualifies

      us to help you make the right decisions with both out-of- court restructurings and bankruptcy

      proceedings. And our experienced litigation team provides vigorous advocacy when you need it

      most.
      </p>

      <div class="col-md-6">
        <h4 class="sub-title">G & M Represents:</h4>
        <ul>
          <p>&#10003; Debtors in Chapters 7 bankruptcy cases</p>
          <p>&#10003; Secured and unsecured creditors in personal and business bankruptcy matters</p>
          <p>&#10003; Representing defendants in adversary proceedings filed in Bankruptcy Court</p>
          <p>&#10003; Parties to complex commercial litigation</p>
          <p>&#10003; Victims of financial fraud</p>
        </ul>
      </div>
      <div class="col-md-6">
        <h4 class="sub-title">Our experience includes:</h4>
        <ul>
          <p>&#10003; Unraveling complex Ponzi schemes and other frauds to maximize recovery for its victims</p>
          <p>&#10003; Negotiating work-out agreements on behalf of banks or debtors</p>
          <p>&#10003; Defendants in adversary proceedings filed in Bankruptcy Court</p>
          <p>&#10003; Serving as Trustee in Chapter 7 and Chapter 11 bankruptcies</p>
          <p>&#10003; Serving as Receiver in state and federal court receivership proceedings</p>
        </ul>
      </div>

      <div class="col-md-12">
        <h1>Services</h1>
        <h4 class="sub-title">DEBT RELIEF</h4>
        <p>We help clients file for relief under the Chapter 7 Bankruptcy Code.</p>

        <h4 class="sub-title">CHAPTER 7 BANKRUPTCY TRUSTEE</h4>
        <p>As a Chapter 7 bankruptcy trustee, we are appointed to gather, liquidate, and distribute a debtors' nonexempt
        assets to their creditors.</p>

        <h4 class="sub-title">RECEIVERSHIP</h4>
        <p>As a court-appointed receiver, we act as the custodian and responsible party for both tangible
        and intangible property, assets and rights. We work at the direction of the Court following the guidelines set
        down in the order appointing us.</p>

      </div>

    </div>
  </div>
</div>
