$blue: #223a54;

.navbar{
  background: rgba(255, 255, 255, 0.44);
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  transition: background .3s ease-in-out;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  -o-transition: background .3s ease-in-out;
  .navbar-brand{
    color: #000;
    font-weight: 400;
    font-size: 35px;
    transition: font-size .3s ease-in-out;
    -webkit-transition: font-size .3s ease-in-out;
    -o-transition: font-size .3s ease-in-out;
    -moz-transition: font-size .3s ease-in-out;
  }.navbar-right li > a{
    color: #000;
    font-size: 20px;
    font-weight: 300;
    transition: font-size .3s ease-in-out;
    -webkit-transition: font-size .3s ease-in-out;
    -o-transition: font-size .3s ease-in-out;
    -moz-transition: font-size .3s ease-in-out;
  }
}


li > a.hvr-underline-reveal:before{
      background: #fff;
    }

li > a.hvr-sweep-to-top:before{
  background: #FF6F6E;
}

.navbar .navbar-right li > a.signout:hover{
  color: #fff;
  transition: color .2s ease-in-out;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
}
// on Scroll

  .shrink{
    background: #fff;
    transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    .navbar-brand{
      font-size: 30px;
      transition: font-size .3s ease-in-out;
      -webkit-transition: font-size .3s ease-in-out;
      -o-transition: font-size .3s ease-in-out;
      -moz-transition: font-size .3s ease-in-out;
    }.navbar-right li > a{
      font-size: 18px;
      transition: font-size .3s ease-in-out;
      -webkit-transition: font-size .3s ease-in-out;
      -o-transition: font-size .3s ease-in-out;
      -moz-transition: font-size .3s ease-in-out;
    }li > a.hvr-underline-reveal:before{
      background: $blue;
    }
  }

  // ON MOBILE

  .navbar-default .navbar-toggle{
    border-radius: 0;
    border-color: #fff;
  }
  .navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
  }

  .navbar-toggle .icon-bar{
    border-radius: 0;
  }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background: $blue;
  }

